.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.wrapper-menu-home {
    display: flex;
    margin-bottom: 50px;
    gap: 20px;
}

.card-menu {
    border-radius: 5px;
    border: 1px solid black;
}

.home-create {
    text-decoration: none;
    color: black;
    background-color:lightgreen;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.home-back, .home-next {
    width: 100px;
    height: 30px;
    margin: 8px;
    cursor: pointer;
    background-color: lightgreen;
}

.home-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.home-link {
    border: 1px solid black;
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.filter-home {
    width: 220px;
    height: 35px;
    border-radius: 10px;
    padding: 10px;
}

.home-btn-search {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin: auto;
    color: white;
    font-weight: 700;
    background-color: crimson;
    box-shadow: 3px 3px rgba(0, 0, 0, 1);
}


@media (max-width: 576px) {
    .wrapper-menu-home {
        display: flex;
        flex-direction: column;
    }
}